body {
  background-color: #D3D3D3;
  font-family: Comic Sans MS, Arial;
  color: #333;
  text-align: center;
}

h1, h3 {
  font-family: Arial black;
}

h1 {
  color: #800000;
  font-size: 24px;
}

h2 {
  color: #000000;
}

p {
  color: #556B2F;
  font-size: 18px;
}

header, nav, main {
  margin-bottom: 20px;
}

.tenor-gif-embed {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
}


ul {
  list-style-type: none;
  padding: 0;
}

button {
  margin: 5px;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: #CD853F;
  color: white;
}

button:hover {
  background-color: #8B4513;
}